* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: darkgray;
    color: #0A192F;
    overflow: hidden;
}

/* Navigation */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 12%;
    position: fixed;
    width: 100;
    background: #0A192F;
    backdrop-filter: blur(12px);
    z-index: 1000;
}

.logo {
    color: gold;
    font-size: 35px;
    font-weight: 800;
}

nav ul {
    display: flex;
    gap: 40px;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: white;
    transition: all 0.3s ease;
}

nav a:hover {
    color: gold;
    transform: translateY(-3px);
}

/* Hero section */

.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 12%;
}

.hero h1 {
    font-size: 70px;
    margin-bottom: 20px;
    color: #0A192F;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    animation: fadein 1s ease forwards;
}

.hero h2 {
    font-size: 30px;
    color: black;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    animation: fadein 1s ease forwards;
}

.hero p {
    font-size: 20px;
    color: #0A192F;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    animation: fadein 1s ease forwards;
}

.hero-btn {
    background: gold;
    color: #0A192F;
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
    border-radius: 40px;
    padding: 20px 40px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.hero-btn:hover {
    background: white;
    transform: translateY(-3px);
}

/* Animated Circle */

.circle {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: gold;
    animation: move 10s infinite alternate;
    opacity: 0.2;
}

@keyframes move {

 from {

transform:translate(-120px,-80px);

 }

 to {

transform:translate(120px,80px);

 }

}

@keyframes fade {

 from {

opacity:0;

transform:translateY(50px);

 }

to {

opacity:1;

transform:translateY(0);

 }

}


/* About section */

.about {
    padding: 100px 12%;
    background: darkgray;
    text-align: center;
}

.about h1 {
    font-size: 50px;
    margin-bottom: 20px;
    color: gold;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.about p {
    font-size: 20px;
    margin: 0 auto;
    color: #0A192F;
    font-weight: 700;
    max-width: 800px;
    line-height: 1.5;
}

/* skills section */

.skills {
    padding: 100px 12%;
    background: darkgray;
    text-align: center;
}

.skills h1 {
    font-size: 50px;
    margin-bottom: 20px;
    color: gold;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card {
    background: #0A192F;
    color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}
.skills h2 {
    font-size: medium;
    color: #0A192F;
    margin-bottom: 10px;
    text-shadow: #0A192F;
}

/* project */

.project {
    padding: 100px 12%;
    background: darkgray;
    text-align: center;
}

.project h1 {
    font-size: 50px;
    margin-bottom: 20px;
    color: gold;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.project p {
    margin-bottom: 20px;
    color: gold;
    font-size: 18px;
}

/* project Grid */

.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 30px;
}

/* project card */

.project-card {
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.4s ease;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow:  rgba(0, 0, 0, 0.15);
}

/* content */
.project-content {
    padding: 20px;
    text-align: left;
}

.project-content h3 {
    color: #0A2540;
    margin-bottom: 10px;
    text-align: center;
    font-size: 40px;
}

.project-content p {
    font-size: 15px;
    color: #555;
    text-align: center;
    font-weight: bold;

}

/* Technology tags */

.tech {
    margin: 15px 0;
    text-align: center;
}

.tech span {
    display: inline-block;
    background: #0A2540;
    color: white;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 13px;
    margin: 5px 5px 0 0;
}

/* contact */

.contact {
    padding: 100px;
    text-align: center;
    background: white;
}

.contact h1 {
    font-size: 45px;
    margin-bottom: 30px;
    color: gold;
}

.contact h3 {
    font-size: 20px;
    margin-bottom: 15px;
}

/*footer */

footer {
    padding: 30px;
    text-align: center;
    background: black;
    color: #aaa;
}

.whatsapp {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 70px;
    height:70px;
    background:#25D366;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:35px;
    text-decoration:none;
    color:white;
    box-shadow:0 10px 25px rgba(0,0,0,.3);
    animation:pulse 2s infinite;
    z-index:999;
}

.back-to-top {
    position: relative;
    bottom: 30px;
    left: 30px;
    display: flex;
    justify-content: baseline;
}

/* Responsive */

@media(max-width:768px) {

nav {

    flex-direction:column;
    gap:20px;

}

nav ul {

    flex-direction:column;
    text-align:center;
}

.hero h1 {
    font-size:45px;
}

.hero p {
    font-size:18px;
}

}